# Dependencies & temp
node_modules/
vendor/
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
# IDE
*.sublime-project
*.sublime-workspace

# User Uploads
uploads/videos/*.webm
uploads/videos/*.mp4
uploads/photos/*.jpg
uploads/photos/*.jpeg
uploads/photos/*.png
uploads/reception/*.jpg
uploads/reception/*.jpeg
uploads/reception/*.png
uploads/cache/
uploads/.db_ready
